In [ ]:
Q1.How do you comment on python? What are the different types of comments?

In [2]:
ANS- In python comments are used to annotate any function which we are trying to perform. The Python IDE can't interpret it while execution.
Comments are 2 types - Single line and Multiline
i) Single line - We can add '#' at the beginning of eachcommeant line.
ii) Multi line - We can add triple quotes ( ''') or (""") ''' at the beginning and end of the multi line sentences or pragraph.

In [3]:
#Comment-1
x=5 #comment-2 can be written alongside with the code
type (x)

int

In [7]:
''' 
I am learning Data Science from PW Skills. 
The instructor is teaxching nicely.
I am submiiting my assignment-02 
'''

' \nI am learning Data Science from PW Skills. \nThe instructor is teaxching nicely.\nI am submiiting my assignment-02 \n'

In [8]:
"""
I am learning Data Science from PW Skills. 
The instructor is teaxching nicely.
I am submiiting my assignment-02 
"""

'\nI am learning Data Science from PW Skills. \nThe instructor is teaxching nicely.\nI am submiiting my assignment-02 \n'

In [ ]:
# Pressing ctrl + '/'
# I am learning Data Science from PW Skills. 
# The instructor is teaxching nicely.
# I am submiiting my assignment-02

In [ ]:
Q2. What are variables in python? How do you declare and assign values to varibles?

In [ ]:
Variables contains values or information for a particular data type. Based on the values or information we assign, python determine the variable type. Variables are case sensitive.

In [13]:
a=5
b=4.6
c=4+7j
d='sachin'
e=True
f=[2,3.5,'abcde',False]
g=(1,-3.4,['xyz',True, 234])
print (type (a),type (b),type (c),type(d),type(e),type(f),type(g)) #The variables a,b,c,d,e,f,g assigned with values corresponds to different data set.

<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'>

In [ ]:
Q3. How do you convert one data type to another in python?

In [ ]:
In python we can change data type through type conversion.

In [23]:
#int to bool
a=5
b=bool(x)
print (b)
#int to str
a1=12
b1=str(x)
print (b1)
#str to int
a2='123'
b2=int(a2)
print (b2)
#int to float
a3=3
b3=float(a3)
print (b3)
#bool to int
a4=True
b4=int(a4)
print (b4)
#float to int
a5=-8.7
b5=int(a5)
print (b5)
#float to str
a6=5.6
b6=str(a6)
print(b6)
#str to float
a7='6.8'
b7=float(a7)
print(b7)

True
12
123
3.0
1
-8
5.6
6.8

In [13]:
#list to tuple
x1=[1,2,'abc']
y1=tuple(x1)
print(y1)
#tuple to list
x2=(3.5,4+5j,True)
y2=list(x2)
print (y2)
#list to dict
x3=[('a',1),('b',2),('c',3)]
y3=dict(x3)
print (y3)
#dict to list
x4={'a':1,'b':2,'c':3}
y4=list (x4.items())
print (y4)
#dict to tuple
x5={'a':1,'b':2}
y5=tuple(x5.items())
print (y5)
#tuple to dict
x6=(('x',10),('y',20))
y6=dict(x6)
print(y6)

(1, 2, 'abc')
[3.5, (4+5j), True]
{'a': 1, 'b': 2, 'c': 3}
[('a', 1), ('b', 2), ('c', 3)]
(('a', 1), ('b', 2))
{'x': 10, 'y': 20}

In [ ]:
Q4. How do you write and execute a python script from the command line ?

In [ ]:
Ans - I write python code in the PW Skills lab in the jupytor note book. I can write also in VS code, Notepad ++ and can also run python command from uuntu terminal.

In [14]:
print ('Hello world')

Hello world

In [ ]:
The above execution is saved under .ipynb extension in my jupytor notebook.

In [ ]:
Q5. Given a list my_list =[1,2,3,4,5], while the code to slice the list and obtain the sub-list [2,3]

In [5]:
#Ans- 
my_list=[1,2,3,4,5]
sub_list = my_list[1:3]
print (sub_list)

[2, 3]

In [ ]:
Q6. What is complex no. in mathematics, and how is it represented in python?

In [ ]:
Complex no. in maths is the combination of real and imaginary no., e.g- 4+5i , where 4 and 5 are real unit and i is the imaginary unit.
In python complex no. is designated as- a+bj,e.g- 4+5j, where 4 and 5 are the real nos. and j is the imaginary counterpart for -i

In [6]:
a=4+5j
print (type(a))
print (a.real)
print (a.imag)

<class 'complex'>
4.0
5.0

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [7]:
age = 25
print (age)

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [9]:
price = 9.99
print (type (price))
print (price) #The assigned data type is float

<class 'float'>
9.99

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [10]:
name='Sachin Agarwal'
print (name)
print (type (name))

Sachin Agarwal
<class 'str'>

In [ ]:
Q10. Given the string "Hello, world!", extract the substring "world".

In [17]:
str1="Hello, world!"
index=str1.find("world")
if index != -1:
    str2 = str1 [index:index+5]
    print (str2)

world

In [ ]:
Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not?

In [24]:
is_student = True
if (type(is_student)) == bool :
    print ("Current Student")
else:
    print ("Not Student")
print (type(is_student))

Current Student
<class 'bool'>